html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
  position: relative;
  width: 1600px;
  height: 600px;
  display: flex;
  overflow-x: hidden; /* Change to "auto" to enable horizontal scroll */
  scroll-snap-type: x mandatory; /* Add scroll snapping */
  padding: 100px 0px 0px 100px;
  }

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loop 50s linear infinite;
}

.container:hover > slide-container{
 animation-play-state: paused;
}

.slide-image{
  width: auto;
  height: auto;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.slide-image > img {
  width: auto;
  height: auto;
  object-fit: cover;
}

@keyframes loop {
  100% {
    transform: translateX(-100%);
  }
}

.slide-image:hover {
  transform: scale(1); /* Ensure the hovered image remains the same size */
}

input[type=checkbox]{
display: none;
}


